<div class="container">  
    <div class="row">
        <div class="col-12">
            <h2>RM Table</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <app-input-search [allItems]="allUsers" searchPlaceholder="{{searchPlaceholder}}" (searchUpdated)="updateItems($event)"></app-input-search>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <app-table *ngIf="showTable; else showMessage" [columnsName]="columnsName" [items]="users"></app-table>
            <ng-template #showMessage>No data found!</ng-template>
        </div>
    </div>
</div>
